@model SONDAGEGOLD.Models.ClasseSondage
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/CSS/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/CSS/bootstrap-reboot.min.css" />
    <link rel="stylesheet" type="text/css" href="~/CSS/bootstrap-reboot.css.map" />
    <link rel="stylesheet" type="text/css" href="~/CSS/SondageGoldeCss.css" />
    <meta name="viewport" content="width=device-width" />
    <title>Resulta</title>
</head>

<body id="CorpDepage">
    <header>
        <!-- en tête de page -->

        <nav class="navbar">
            <ul>
                <li class="actif"><a role="button" href="@Url.Action("Index")">Home</a></li>
                <li><a role="button" href="@Url.Action("Sondage")">Sondage</a></li>
                <li><a role="button" href="@Url.Action("Vote")">Vote</a></li>
                <li><a role="button" href="@Url.Action("Resultat")">Resultat</a></li>
                <li><a role="button" href="@Url.Action("Suppression")">Supprimer</a></li>
                <li class="btnRecherche"><input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"></li>
                <li id="btnRecherche"><button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button></li>
            </ul>
        </nav> <!-- menu -->
    </header>


    <aside>
        <div class="formulaire">
            <h1>@Model.QuestionDuSondage</h1>
            @for (int i = 0; i < @Model.ListeDeReponse.Count; i++)
            {
                string r = @Model.ListeDeReponse[@i].PourcentageDeVote(@Model.NombreTotalDeVote());
           
                <label for="file">@Model.ListeDeReponse[@i].Reponse</label>

                <progress class="progress barDeprogression progress-bar-striped progress-bar" style="width: 25%;" id="file" max="@Model.NombreTotalDeVote()" value="@Model.ListeDeReponse[@i].NombreDeVote">@r </progress>
          
             






                @*<div class="progress barDeprogression ">
                    <label for="file">@Model.ListeDeReponse[@i].Reponse</label>
                    <div class="progress-bar-striped progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="@Model.ListeDeReponse[@i].NombreDeVote" aria-valuemin="0" aria-valuemax="@Model.NombreTotalDeVote()">@r</div>
                </div>*@


                @*<div class="progress">
            <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                <span class="sr-only">40% effectué (success)</span>
            </div>
        </div>*@




                }


            </div>
    </aside>

    <footer>Copyright © 2018 sondagegold.com All rights reserved</footer>
    <script src="~/JavaScript/bootstrap.bundle.min.js"></script>
    <script src="~/JavaScript/bootstrap.bundle.min.js"></script>
</body>

</html>
