@model SONDAGEGOLD.Models.ClasseSondage
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    @*<meta http-equiv="refresh" content="0;URL=@Model.LienDeResultat()">*@
    <link rel="stylesheet" type="text/css" href="~/CSS/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/CSS/bootstrap-reboot.min.css" />
    <link rel="stylesheet" type="text/css" href="~/CSS/bootstrap-reboot.css.map" />
    <link rel="stylesheet" type="text/css" href="~/CSS/SondageGoldeCss.css" />
    <meta name="viewport" content="width=device-width" />
    <title>Resulta</title>
</head>

<body id="CorpDepage">
    <header>
        <!-- en tête de page -->

        <nav class="navbar">
            <ul>
                <li class="actif"><a role="button" href="@Url.Action("Index")">Home</a></li>
                <li><a role="button" href="@Url.Action("Sondage")">Sondage</a></li>
                <li><a role="button" href="@Url.Action("Vote")">Vote</a></li>
                <li><a role="button" href="@Url.Action("Resultat")">Resultat</a></li>
                <li><a role="button" href="@Url.Action("Suppression")">Supprimer</a></li>
                <li class="btnRecherche"><input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"></li>
                <li id="btnRecherche"><button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button></li>
            </ul>
        </nav> <!-- menu -->
    </header>


    <aside>
        <div class="formulaire">
            <h1>@Model.QuestionDuSondage</h1> <h2>
                Nombre de Votant: @Model.NombreDeVotant
            </h2>
            @for (int i = 0; i < @Model.ListeDeReponse.Count; i++)
            {
                <p>

                    <span>@Model.ListeDeReponse[@i].Reponse</span> <progress class="bar" style="width: 25%;" id="file" max="@Model.NombreTotalDeVote()" value="@Model.ListeDeReponse[@i].NombreDeVote"></progress><span>@Model.ListeDeReponse[@i].PourcentageDeVote(@Model.NombreTotalDeVote());</span>
                </p>
            }


        </div>
    </aside>
    <footer>Copyright © 2018 sondagegold.com All rights reserved</footer>
    <script src="~/JavaScript/bootstrap.bundle.min.js"></script>
    <script src="~/JavaScript/bootstrap.bundle.min.js"></script>
</body>

</html>
