@model SONDAGEGOLD.Models.ClasseSondage
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/CSS/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/CSS/bootstrap-reboot.min.css" />
    <link rel="stylesheet" type="text/css" href="~/CSS/bootstrap-reboot.css.map" />
    <link rel="stylesheet" type="text/css" href="~/CSS/SondageGoldeCss.css" />
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>

<body id="CorpDepage">
    <header>
        <!-- en tête de page -->

        <nav class="navbar">
            <ul>
                <li class="actif"><a role="button" href="@Url.Action("Index")">Home</a></li>
                <li><a role="button" href="@Url.Action("Sondage")">Sondage</a></li>
                <li><a role="button" href="@Url.Action("Vote")">Vote</a></li>
                <li><a role="button" href="@Url.Action("Resultat")">Resultat</a></li>
                <li><a role="button" href="@Url.Action("Suppression")">Supprimer</a></li>
                <li class="btnRecherche"><input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"></li>
                <li id="btnRecherche"><button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button></li>
            </ul>
        </nav> <!-- menu -->
    </header>
    <div>


    </div>

    <aside class="aside">

        <div class="formulaire">
            <form class="form" action="@Url.Action("CreationSondage")" method="post">

                <h1>Question</h1>

                <input name="Question" required class="question" type="text" placeholder="Entrez votre question">


                <div class="mm">
                    <label for="Rep1">Reponse N°1:</label>
                    <input name="Reponse" required class="Reponse" type="text" placeholder="Entrez votre Réponse">
                </div>
                <div class="mm">
                    <label for="Rep2">Reponse N°2:</label>
                    <input name="Reponse" class="Reponse" required type="text" placeholder="Entrez votre Réponse">
                </div>
               
                <div class="mm1">
                   
                    <input name="checkbox" class="" type="checkbox" id="checkbox">
                    <label>
                        Autoriser les Réponses multiples
                    </label>
                </div>

                <div class="boutonformulaire">
                    <input class="SuprimerReponse" type="button" value="Supprimer Des Reponses " />
                    <input class="valider" type="submit" value="Valider le questionnaire" />
                </div>

            </form>
        </div>

    </aside>

    <footer>Copyright © 2018 sondagegold.com All rights reserved</footer>
    <script src="~/JavaScript/SondageGoldJavaScript.js"></script>
    <script src="~/JavaScript/bootstrap.bundle.min.js"></script>
    <script src="~/JavaScript/bootstrap.bundle.min.js"></script>
    <script src="~/JavaScript/jquery.js"></script>
</body>
</html>