@model SONDAGEGOLD.Models.ClasseSondage
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
   
    <link rel="stylesheet" type="text/css" href="~/CSS/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/CSS/bootstrap-reboot.min.css" />
    <link rel="stylesheet" type="text/css" href="~/CSS/bootstrap-reboot.css.map" />
    <link rel="stylesheet" type="text/css" href="~/CSS/SondageGoldeCss.css" />
    <meta name="viewport" content="width=device-width" />
    <title>Vote</title>
</head>

<body id="CorpDepage">
    <header>
        <!-- en tête de page -->

        <nav class="navbar">
            <ul>
                <li class="actif"><a role="button" href="@Url.Action("Index")">Home</a></li>
                <li><a role="button" href="@Url.Action("Sondage")">Sondage</a></li>
                <li><a role="button" href="@Url.Action("Vote")">Vote</a></li>
                <li><a role="button" href="@Url.Action("Resultat")">Resultat</a></li>
                <li><a role="button" href="@Url.Action("Suppression")">Supprimer</a></li>
                <li class="btnRecherche"><input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"></li>
                <li id="btnRecherche"><button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button></li>
            </ul>
        </nav> <!-- menu -->
    </header>


    <aside>
        <div class="formulaire">
            <form class="form" action="@Url.Action("EnregistrerVote")">

                <h1 id="question">@Model.QuestionDuSondage</h1>
                @if (@Model.QuestionChoixMultiples == true)
                {

                    for (int i = 0; i < @Model.ListeDeReponse.Count; i++)
                    {
                        string parametre = "id" + @i;
                        //int unit = 5-@i;
                        //string parametre1 = "id" + unit;
                        <div class="">

                            <input name="Idliste" id="reponse" required value="@Model.ListeDeReponse[@i].IDreponse" class="" type="checkbox">
                            <label>
                                @Model.ListeDeReponse[@i].Reponse
                            </label>

                        </div>
                    }
                }
                else
                {

                    for (int i = 0; i < @Model.ListeDeReponse.Count; i++)
                    {
                        <fieldset id="group2">
                            <input type="radio" value="@Model.ListeDeReponse[@i].IDreponse" name="Idliste" id="reponse">
                            <label>
                                @Model.ListeDeReponse[@i].Reponse
                            </label>
                        </fieldset>
                    }

                }





                <input type="hidden" name="IDsondageCourant" value="@Model.IdSondage" />

                <div class="boutonformulaire">
                    <input class="valider" id="submitFormulaire" type="submit" value="Valider le Vote" /> <input class="valider" type="submit" value="Annuler" />
                </div>


            </form>



        </div>


    </aside>
    <script>

    </script>
    <footer>Copyright © 2018 sondagegold.com All rights reserved</footer>
    <script src="~/JavaScript/bootstrap.bundle.min.js"></script>
    <script src="~/JavaScript/bootstrap.bundle.min.js"></script>
   
   
 
</body>

</html>
